@page
@model AdminProject.Pages.ViewCustomers.ViewCustomersModel
@{
    ViewData["Title"] = "View Customers";
}

<p class="lead">Customers</p>

<form method="get">
    <div class="form-group">
        <label asp-for="SearchData">Search Customer by Username or Email</label>
        <input class="form-control" asp-for="SearchData" />
        @if (Model.NoMatch)
        {
            <span class="text-danger">This Customer could not be found</span>
        }
    </div>
    <button type="submit" class="btn form-control mb-3">Search</button>
</form>

@if (!Model.NoMatch)
{
    <div class="table-box">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><label asp-for="UserList.FirstOrDefault().Username"></label></th>
                    <th> <label asp-for="UserList.FirstOrDefault().FirstName"></label></th>
                    <th> <label asp-for="UserList.FirstOrDefault().LastName"></label></th>
                    <th> <label asp-for="UserList.FirstOrDefault().Email"></label> </th>
                    <th>
                        <label>Actions</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserList)
                {
                    <tr>
                        <td> @item.Username </td>
                        <td> @item.FirstName</td>
                        <td> @item.LastName</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-page="EditUser" asp-route-id="@item.Id" class="btn btn-edit">Edit</a>
                            <button user-id="@item.Id" class="deleteBtn btn mt-3 mt-lg-0 ml-lg-2 ml-0" data-toggle="modal" data-target="#editModal">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div id="editModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Are you sure you want to delete this User?</h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input type="hidden" asp-for="Id" class="hiddenUserId" />
                        <p>Once Submitted this cannot be undone</p>
                        <input type="submit" value="Delete User" class="btn form-control submit" style="background: red !important;"/>
                    </form>
                </div>
            </div>
        </div>
    </div>




}
@section Scripts{

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ html: true });
        });
    </script>
    <script src="~/js/delete.js"></script>

}